.contenedor2 {
  .actividad {
    width: 45%;
    margin: 10px;
    .thumb {
      width: 100%;
      margin-bottom: 10px;
      img {
        width: 100%;
        vertical-align: top;
        border-radius: 20px;
        height: auto;
      }
    }
    a {
      &:hover {
        text-decoration: underline;
        background: $colorPrimario;
        color: #fff;
        border-radius: 6px;
        }
      &:focus {
        background: $colorFocus;
        color: #fff;
        border-radius: 6px;
        }
      }
    }
  }
