//DECLARO VARIABLES PARA LOS COLORES:
$colorBaseBlanco1: #fff;
$colorBaseBlanco2: rgba(240, 239, 231, 0.92);
$colorBaseGris: rgba(203, 199, 200, 0.93);
$colorPrimario: #0f0f0f;
$colorFocus: #000;
$colorSecundario: rgba(92, 90, 90, 0.95);
$colorTexto: rgba(79, 79, 77, 0.96);

//ESTILOS PRINCIPALES:
* {
  margin: 0;
  padding: 0;
}

body {
  background: $colorBaseGris;
  font-family: 'Dosis', sans-serif;
  color: $colorTexto;
  font-size: 18px;
  .contenedor {
    background: $colorBaseBlanco1;
    width: 90%;
    max-width: 1500px;
    margin: auto;
    padding: 20px 0px;
    overflow: hidden;
  }
}

.contenedor-contacto {
  padding: 20px;
}

// CONTENEDOR CON FLEXBOX - COLUMNAS...
// ==================================
.contenedor1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

// CONTENEDOR CON FLEXBOX - FILAS...
// =================================
.contenedor2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    background: $colorSecundario;
}

// CONTENEDOR AL PEDO!!!
// =====================
.contenedorH {
  background: $colorBaseBlanco2;
}


// ESTILOS PARA LAS CLASES TITULOS!!!
// ==================================
.titulo1 {
  font-size: 3em;
  margin: 60px auto;
}
.titulo2, .tituloNombre {
  font-size: 2.5em;
  margin: 60px auto;
}
.titulo3 {
  font-size: 2em;
  margin: 30px auto;
}
.titulo4 {
  font-size: 1.5em;
  margin: 30px auto;
}


.titulo1,
.titulo2,
.titulo3,
.titulo4,
.tituloNombre {
  text-align: center;
  text-decoration: none;
  // margin: 30px auto;
  color: $colorSecundario;
}


//IMPORTO LOS OTROS ESTILOS:
//=========================
@import "header";
@import "main";
@import "actividades";
@import "horarios";
@import "historia";
@import "dojo";
@import "footer";
@import "tienda";
@import "media-queries";
