.contenedor2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  .productosK,
  .productosCF,
  .productosB {
    width: 28%;
    margin: 10px;
    .thumb {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.producto {
  h3 {
    text-decoration: underline;
  }
}
