.contenedor2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  .actividad {
    width: 45%;
    margin: 10px;
    .thumb {
      width: 100%;
      margin-bottom: 10px;
    }
    a {
      &:hover {
        text-decoration: underline;
        background: $colorPrimario;
        color: #fff;
        border-radius: 6px;
        }
      &:focus {
        background: $colorFocus;
        color: #fff;
        border-radius: 6px;
        }
      }
    }
  }
